rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /Dresses/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /inquiries/{document=**} {
      allow read, write: if false;
    }

    match /tryOnBookings/{document=**} {
      allow read, write: if false;
    }

    match /rentalRequests/{document=**} {
      allow read, write: if false;
    }

    match /mail/{document=**} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
